* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
  }

  header {
    background-color: #252525;
    color: #FFFFFF;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .links {
    display: flex;
    padding: 20px;
    margin: 30px;
    list-style: none;
    justify-content: space-evenly;
  }

  main {
    height: 100vh;
}
  .section_1 {
    background-image: url("./assets/Web/fundo1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .section_2 {
    background-image: url("./assets/Web/fundo2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .section_3 {
    background-image: url("./assets/Web/fundo3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .footer_section_1 {
    background-color: #FFFFFF;
    color: #FD6A9A;

  }

  .footer_section_2 {
    background-color: #EB4A7B;
    color: #FFFFFF;
  }