* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

header {
    background-color: #252525;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1000px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 25px;
    font-size: 25px;
}

.logo img {
    width: 30%;
    height: 30%h;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 25px;
}
/* 
main {
    height: 100vh;
    width: 100vw;
}
*/

.section_1 {
    background-image: url("./assets/Web/fundo1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.section_2 {
    background-image: url("./assets/Web/fundo2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.section_3 {
    background-image: url("./assets/Web/fundo3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.footer_section_1 {
    display: flex;
    background-color: #FFFFFF;
    color: #FD6A9A;
    justify-content: space-evenly;
    margin: 80px;
    align-items: center;
}

.footer_section_1 h2 {
    font-style: italic;
    font-size: 40px;
}

.footer_section_1 figure{
    display: flex;
    gap: 90px;
}

.footer_section_2 {
    background-color: #EB4A7B;
    color: #FFFFFF;
    border: solid 50px #ecc908;
    display: flex;
    flex-direction: column;
}

.footer_section_2 ul {
    list-style: none;
    text-decoration: none;
}

.title_footer ul{
    border: solid 10px #0adb06;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    font-size: 28px;
    gap: 80px;
    padding: 50px;  
    opacity: 1;
    font-weight: 800;
}

.nav_footer {
    border: solid 10px #0dd6ec;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    font-size: 14px;
    gap: 80px;
    padding: 50px;  
    opacity: 1;
}