* {
  margin: 0;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  padding: 10px;
  border: solid 2px rebeccapurple;
  margin: 10px;
  box-sizing: border-box;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: hotpink;
  margin: 10px;
}
