* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("./assets/fundo-pizza.png");
  height: 25vh;
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}